<main>
    <div class="mode-1">
        <div class="score-mode">
            <div class="mode">
                <p>ROCK</p>
                <p>PAPER</p>
                <p>SCISSORS</p>
            </div>
            <div class="score">
                <p class="score-txt">SCORE</p>
                <p class="puntos">12</p>
            </div>
        </div>
        <div class="juego">
            <div class="eleccion">
                <div class="background-triangulo">
                    <img src="../assets/bg-triangle.svg" alt="bg-triangle">
                    <div class="papel">
                        <div class="content-img">
                            <img src="../assets/icon-paper.svg" alt="icon-paper">
                        </div>
                    </div>
                    <div class="tijera">
                        <div class="content-img">
                            <img src="../assets/icon-scissors.svg" alt="icon-paper">
                        </div>
                    </div>
                    <div class="piedra">
                        <div class="content-img">
                            <img src="../assets/icon-rock.svg" alt="icon-paper">
                        </div>
                    </div>
                </div>
            </div>
            <div class="resultado">

            </div>
        </div>
    </div>
</main>