main {
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding-bottom: 2vw;
    height: 100vh;
}

.fondo {
    background: -webkit-radial-gradient(top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mode-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.mode-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.score-mode {
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    outline: 0.3vw solid hsl(217, 16%, 45%);
}

.score-mode div p {
    margin: 0;
}

.mode {
    color: white;
    font-weight: bolder;
}

.score {
    background-color: white;
    margin-left: auto;
    border-radius: 0.5vw;
    padding: 1vw 3.7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -0.8vw;
    margin-right: -0.8vw;
    margin-bottom: -0.5vw;
}

.score-txt {
    color: hsl(229, 64%, 46%);
    margin-bottom: -0.6vw !important;
}

.puntos {
    font-weight: bold;
    color: hsl(229, 25%, 31%);
}

.juego {
    width: 50vw;
}

.background-triangulo img {
    width: 100%;
    margin: auto;
}

.background-triangulo {
    width: 42%;
    margin: auto;
    position: relative;
}

.margin-negativo {
    margin: -0.65vw auto !important;
}

.papel {
    width: 70%;
    border-radius: 70%;
    background: -webkit-radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    height: 70%;
    margin-right: auto;
    position: absolute;
    top: -34%;
    left: -34%;
    box-shadow: 0px 0.7vw 0px -0.1vw hsl(229.7, 80.7%, 53.3%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tijera {
    width: 70%;
    border-radius: 70%;
    height: 70%;
    background: -webkit-radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    margin-left: auto;
    position: absolute;
    top: -34%;
    right: -34%;
    box-shadow: 0px 0.7vw 0px -0.1vw hsl(39, 91%, 35%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.piedra {
    width: 70%;
    border-radius: 70%;
    height: 70%;
    background: -webkit-radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    margin: auto;
    position: absolute;
    bottom: -22%;
    left: 0;
    right: 0;
    box-shadow: 0px 0.7vw 0px -0.1vw hsl(349, 74%, 36%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 80%;
    background-color: white;
    height: 80%;
    box-shadow: inset 0px 0.7vw 0px -0.1vw #d0d0d0;
}

.content-img img {
    width: 45%;
}

.content-rules {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    animation-duration: 0.5s;
    justify-content: center;
    background-color: #000000a3;
}

.rules {
    background-color: white;
    border-radius: 1vw;
    color: #4a4c53;
    animation-duration: 0.5s;
}

.rules div {
    display: flex;
    flex-direction: row;
}

.rules div p {
    margin-top: 0;
}

.rules div img {
    width: 2vw;
    height: 2vw;
    margin-left: auto;
    cursor: pointer;
}

.eleccion {
    animation-name: zoomResultados;
    animation-duration: 0.5s;
}

.proceso {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.5vw;
    position: relative;
    margin-top: 8%;
    animation-duration: 1s;
}

.my-pick {
    left: 0;
    position: absolute;

}

.proceso-seleccion-detalles {
    top: 7vw !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    animation-duration: 0.5s;
    animation-name: opacityOpen;
}

.respuestaCargada {
    animation-duration: 0.7s;
    position: absolute;
    right: 0;
}

.center {
    display: flex;
    justify-content: center;
}

.resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: zoomResultados;
    animation-duration: 0.5s;
}

.modo-juego {
    top: 4%;
    left: 2vw;
}

.modo-juego button {
    font-size: 1vw;

    margin-top: 2vw;
    border: none;
    border-radius: 0.2vw;
    background-color: white;
    box-shadow: 0px 0px 0.5vw 0px white;
    padding: 0.3vw;
    cursor: pointer;
    font-size: 1vw;
    font-weight: bold;
    color: #182042;
    ;
}

.papel-2 {
    width: 70%;
    border-radius: 70%;
    background: -webkit-radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    height: 70%;
    margin-right: auto;
    position: absolute;
    top: -7%;
    left: 81%;
    box-shadow: 0px 0.7vw 0px -0.1vw hsl(229.7, 80.7%, 53.3%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tijera-2 {
    width: 70%;
    border-radius: 70%;
    background: -webkit-radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    box-shadow: 0px 0.7vw 0px -0.1vw hsl(39, 91%, 35%);
    height: 70%;
    margin-right: auto;
    position: absolute;
    top: -50%;
    left: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.piedra-2 {
    width: 70%;
    border-radius: 70%;
    background: -webkit-radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    box-shadow: 0px 0.7vw 0px -0.1vw hsl(349, 74%, 36%);
    height: 70%;
    margin-right: auto;
    position: absolute;
    top: 74%;
    left: 58%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.spock-2 {
    width: 70%;
    border-radius: 70%;
    background: -webkit-radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    height: 70%;
    margin-right: auto;
    position: absolute;
    top: -5%;
    left: -51%;
    box-shadow: 0px 0.7vw 0px -0.1vw (hsl(189, 53%, 40%));
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.lizard-2 {
    width: 70%;
    border-radius: 70%;
    background: -webkit-radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    height: 70%;
    margin-right: auto;
    position: absolute;
    top: 74%;
    left: -28%;
    box-shadow: 0px 0.7vw 0px -0.1vw hsl(261, 49%, 42%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@keyframes zoomResultados {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes opacityOpen {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes opacityClosed {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

@media (min-width: 360px) {
    .juego {
        width: 100vw;
        margin: auto;

    }

    main {
        font-size: 6vw;
    }

    .modo-juego button {
        font-size: 4vw;
    }

    .score-mode {
        width: 85vw;
        padding: 4.5vw;
    }

    .score-txt {
        font-size: 4vw;
    }

    .puntos {
        font-size: 10.7vw;
    }

    .background-triangulo {
        width: 55%;
    }

    .resultado {
        background-color: transparent;
        color: white;
        padding: 1.8vw 8vw;
        border: 0.15vw solid white;
        border-radius: 1.5vw;
        cursor: pointer;
        font-size: 7.05vw;
    }

    .rules {
        padding: 14vw 7vw;
        font-size: 7.2vw;
    }

    .rules img {
        width: 100%;
    }

    .rules div img {
        width: 7vw;
        height: 7vw;
    }

    .my-pick {
        height: 40vw;
        width: 40vw;
    }

    .respuestaCargada {
        height: 40vw;
        width: 40vw;
    }

    .resultados {
        margin-top: 20vw;
        width: 75vw;
        position: absolute;
    }

    .resultados p {
        font-size: 6vw;
        margin-bottom: 3vw;
    }

    .resultados button {
        padding: 2.6vw 15vw;
        border: none;
        border-radius: 2.4vw;
        font-size: 5vw;
        cursor: pointer;
    }

    .proceso p {
        margin-top: 52vw;
        font-size: 4.5vw;
    }

    .house-picked-black {
        width: 30vw;
        height: 30vw;
        background-color: #192037;
        border-radius: 40vw;
        margin-top: 12.7vw;
        position: absolute;
        left: auto;
        top: 0;
    }

    .capasDiseño::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        box-shadow: 0 0 0 30vw #ffffff05;
        animation-duration: 1.2s;
        animation-name: zoomResultados;
    }

    .capasDiseño::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        animation-name: zoomResultados;
        animation-duration: 0.8s;
        box-shadow: 0 0 0 20vw #ffffff0a;
    }

    .capasDiseño {
        animation-name: zoomResultados;
        box-shadow: 0 0 0 10vw #ffffff0f;
        animation-duration: 0.4s;
    }

    .resultados p {
        font-size: 10.5vw;
    }

    .minimizar {
        width: 45%;
    }

    .proceso {
        height: 108vw;
    }

    .margin-negativo {
        font-size: 2rem;
    }
    .attribution {color: white;
        font-size: 2rem !important;
        width: 100%;
        text-align: center;
        margin-top: 3rem;
    }

 
}

@media (min-width: 1281px) {
    .juego {
        width: 50vw;
        margin: auto;
    }

    main {
        font-size: 2vw;
    }

    .score-mode {
        width: 50vw;
        padding: 1.5vw;
    }

    .score-txt {
        font-size: 1vw;
    }

    .puntos {
        font-size: 2.7vw;
    }

    .background-triangulo {
        width: 42%;
    }

    .resultado {
        background-color: transparent;
        color: white;
        padding: 0.8vw 3vw;
        border: 0.15vw solid white;
        border-radius: 0.5vw;
        cursor: pointer;
        font-size: 1.05vw;
        position: absolute;
        bottom: 2vw;
        right: 2vw;
    }

    .rules {
        padding: 2vw 3vw;
        font-size: 2.2vw;
    }

    .rules img {
        width: 22vw;
    }

    .rules div img {
        width: 2vw;
        height: 2vw;
    }

    .my-pick {
        height: 18vw;
        width: 18vw;
    }

    .respuestaCargada {
        height: 18vw;
        width: 18vw;
    }

    .resultados {
        margin-top: 11vw;
        width: 12vw;
        position: relative;
    }

    .resultados p {
        font-size: 3vw;
        margin-bottom: 1vw;
    }

    .resultados button {
        padding: 0.6vw 3vw;
        border: none;
        border-radius: 0.4vw;
        font-size: 1vw;
        cursor: pointer;
    }

    .proceso p {
        margin-top: 1vw;
        font-size: 1.5vw;
    }

    .house-picked-black {
        width: 12vw;
        height: 12vw;
        background-color: #192037;
        border-radius: 13vw;
        margin-top: 10vw;
        position: absolute;
        left: auto;
        top: 0;
    }

    .capasDiseño::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        box-shadow: 0 0 0 12vw #ffffff05;
        animation-duration: 1.2s;
        animation-name: zoomResultados;
    }

    .capasDiseño::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        animation-name: zoomResultados;
        animation-duration: 0.8s;
        box-shadow: 0 0 0 8vw #ffffff0a;
    }

    .capasDiseño {
        animation-name: zoomResultados;
        box-shadow: 0 0 0 4vw #ffffff0f;
        animation-duration: 0.4s;
    }

    .resultados p {
        font-size: 1.5vw;
    }

    .minimizar {
        width: 30%;
    }

    .proceso {
        height: 40vw;
    }

    .modo-juego button {
        font-size: 1vw;
    }

    .margin-negativo {
        font-size: 2vw;
    }

    .attribution {
        text-align: center;
        color: white; 

        font-size: 1.4vw !important;
        width: 100%;
    }

 
}