<main>
    <div class="mode-1">
        <div class="score-mode">
            <div class="mode">
                <p class="margin-negativo">ROCK</p>
                <p class="margin-negativo">PAPER</p>
                <p class="margin-negativo">SCISSORS</p>
            </div>
            <div class="score">
                <p class="score-txt">SCORE</p>
                <p class="puntos">{{score}}</p>
            </div>
        </div>
        <div class="juego">
            <div *ngIf="eleccion" class="eleccion">
                <div class="background-triangulo">
                    <img src="../assets/bg-triangle.svg" alt="bg-triangle">
                    <div (click)="papel()" class="papel">
                        <div class="content-img">
                            <img src="../assets/icon-paper.svg" alt="icon-paper">
                        </div>
                    </div>
                    <div (click)="tijera()" class="tijera">
                        <div class="content-img">
                            <img src="../assets/icon-scissors.svg" alt="icon-paper">
                        </div>
                    </div>
                    <div (click)="piedra()" class="piedra">
                        <div class="content-img">
                            <img src="../assets/icon-rock.svg" alt="icon-paper">
                        </div>
                    </div>
                </div>
            </div>
            <div [ngStyle]="{'animation-name':opacity}" *ngIf="proceso" class="proceso">
                <!--Eleccion del usuario-->
                <div class="my-pick center">
                    <p>YOU PICKED</p>
                    <div class="{{clase}} proceso-seleccion-detalles  {{disenoCapasUsuario}}">
                        <div class="content-img">
                            <img src="{{seleccion}}" alt="icon-paper">
                        </div>
                    </div>
                </div>
                <!--Resultado y playAgain-->
                <div *ngIf="MostrarResultado" class="resultados">
                    <p>{{resultadoJuego}}</p>
                    <button (click)="PlayAgain()">PLAY AGAIN</button>
                </div>
                <!--Efecto de espera-->
                <div *ngIf="cargandoRespuesta" class="center respuestaCargada">
                    <p>THE HOUSE PICKED</p>
                    <div class="house-picked-black ">
                    </div>
                </div>
                <!--Eleccion de la maquina-->
                <div class="respuestaCargada center " *ngIf="respuestaCargada">
                    <p>THE HOUSE PICKED</p>
                    <div class="{{EleccionMaquinaClase}} proceso-seleccion-detalles {{disenoCapaMaquina}} ">
                        <div class="content-img">
                            <img src="{{EleccionMaquinaIMG}}" alt="icon-paper">
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <button (click)="openRules()" class="resultado">RULES</button>
        <div *ngIf="rules" [ngStyle]="{'animation-name':opacity}" class="content-rules">
            <div [ngStyle]="{'animation-name':opacity}" class="rules">
                <div>
                    <p>
                        RULES
                    </p>
                    <img (click)="closedRules()" src="../assets/icon-close.svg" alt="icon-close">
                </div>
                <img src="../assets/image-rules.svg" alt="Rules-img">
            </div>
        </div>
    </div>
</main>