<main>
    <div class="mode-1">
        <div class="score-mode">
            <div class="mode">
                <p class="margin-negativo">ROCK</p>
                <p class="margin-negativo">PAPER</p>
                <p class="margin-negativo">SCISSORS</p>
            </div>
            <div class="score">
                <p class="score-txt">SCORE</p>
                <p class="puntos">12</p>
            </div>
        </div>
        <div class="juego">
            <div class="eleccion">
                <div class="background-triangulo">
                    <img src="../assets/bg-triangle.svg" alt="bg-triangle">
                    <div class="papel">
                        <div class="content-img">
                            <img src="../assets/icon-paper.svg" alt="icon-paper">
                        </div>
                    </div>
                    <div class="tijera">
                        <div class="content-img">
                            <img src="../assets/icon-scissors.svg" alt="icon-paper">
                        </div>
                    </div>
                    <div class="piedra">
                        <div class="content-img">
                            <img src="../assets/icon-rock.svg" alt="icon-paper">
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <button class="resultado">RULES</button>
        <div class="content-rules">
            <div class="rules">
                <p>RULES
                    <p>
                        <img src="../assets/image-rules.svg" alt="Rules-img">
            </div>
        </div>
    </div>
</main>